html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  line-height: 1.6;
  font-size: 12px;
  background-color: #f7f7f7;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  background-color: yellow;
}

a:link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:active {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
